<!DOCTYPE html>
<html lang=”uk”>
{% load static %}
<head>
  <title>Blog</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" href="{% static 'css/Main.css' %}" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Blog</a>
    </div>
     <ul class="nav navbar-nav">
      <li><a href="/">Головна</a></li>
      <li><a href="{% url 'articles-list' %}">Публікації</a></li>
      <li><a href="/admin">Адмін-Панель</a></li>
      </ul>
  </div>
</nav>
<div class="container">
<h1> Персональний блог</h1>
{% block content %}
{% endblock %}
</div>
<!-- Javascripts Section -->
<script src="{% static 'js/jquery.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
</body>
</html>
